<h1>Studios</h1>

<% @studios.each do |studio| %>
  <section id="studio-<%= studio.id %>">
    <h3><%= studio.name %> Movies</h3>
    <% studio.movies.each do |movie| %>
      <p><%= movie.title %></p>
    <% end %>
  </section>
<% end %>